* {
  font-family: helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h4{
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
  color: white;
}
h3{
  text-transform: uppercase;
  color: #00278a;
  padding-top: 15px;
}
header {
  background-image: url(../img/header6.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 2em;
}

header h1 {
  padding: 50px 0px 0px 0px;
}

header p {
  padding: 0px 0px 50px 0px;
}
/* navigatie code van https://codepen.io/jo_Geek/pen/xgbaEr, de checkbox truc.*/

nav {
  height: 50px;
  width: 100%;
  background-color: #00278a;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav>.nav-btn {
  display: none;
}

nav>.nav-links {
  display: inline;
  font-size: 18px;
}

nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

nav>.nav-links>a:hover {
  border-bottom: solid white 3px;
}

nav>.nav-links>a.active {
  border-bottom: solid white 3px;
}

nav>#nav-check {
  display: none;
}
p#welcome{
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding: 40px;
  background-color: lightgrey;
}
aside{
  background-image: url(../img/devliert.jpg);
  background-size: cover;
  width: 400px;
  padding: 10px;
  display: block;
  float: right;
  color: white;
}
iframe{
  margin: 5px;
}
table{
  width: 100%;
}
td,th{
  text-align: center;
}
article{
  display: block;
  float: left;
}
.matches{
  width: 100%;
  color: red;
}

#match-info{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  padding: 2px;
}

footer{
  clear: both;
  width: 100%;
  display: block;
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  /* position: fixed;
  bottom: 0; */
  margin-top: 20px;
}
footer p{
  padding: 10px 0px;
}
footer a{
  color: #009999;
  text-decoration: none;
}


@media screen and (min-width: 1441px) {
  /*desktop*/
  #container {
    width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    padding: 0px 50px;
  }
  section{
    /* background-color: red; */
    width: 920px;
    display: block;
    float: left;
    margin-bottom: 60px;
  }

}

@media screen and (min-width: 641px) and (max-width:1440px) {
  /*tablet*/
  #container{
    /* background-color: red; */
    width: 100vw;
  }
  aside{
    width: 767px;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  section{
    width: 100%;
  }
  iframe{
    display: block;
    float: left;
    width: 100%;
  }
  article{
    display: block;
    float: left;
    width: 30vw;
    margin: 1.5vw;
  }

}

@media screen and (min-width:320px) and (max-width:650px) {
  /* mobile */
header h1{
  font-size: 1.5em;
}
header p{
  font-size: .7em;;
}

  #container {
    /* background-color: yellow; */
    width: 100vw;
  }
  aside{
    background-image: url(../img/devliert.jpg);
    /* bron afbeelding: https://www.fcdbfans.nl/img/paginas/devliert_huidig.jpg */
    background-size: cover;
    width: 100vw;
    padding: 10px;
    display: block;
    float: left;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  table{
    width: 100%;
  }
  td,th{
    text-align: center;
  }
  #match-info{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    padding: 2px;
  }
  section{
    width: 100vw;
    padding: 10px;
    display: block;
    float: left;
  }
  iframe{
    width: 100%;
  }
  p#welcome{
    margin: 0px;
  }
}

@media (max-width:600px) {
  nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  nav>.nav-btn>label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #00278a;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  nav>.nav-links>a {
    display: block;
    width: 100%;
  }
  nav>#nav-check:not(:checked)+.nav-links {
    height: 0px;
  }
  nav>#nav-check:checked+.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* einde querry */
