header {
    background-image: url("../img/overons.jpg");
    height: 150vh;
    background-size: cover;
  }
  @media (min-width: 576px) {

  }

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {

  }

  @media (min-width: 1200px) {

  }


  #samenwerking{
    margin: 100px 0px;
    background-image: url(../img/overons-horizontal.jpg);
    background-color: red;
    width: 100%;
    color: white;
  }
  #samenwerking p{
    font-size: 1.2em;
  }

  #header-text {
    color: white;
    text-align: center;
    margin-top: 10vh;
  }

  #text-overons{
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 35px;
    padding-top: 0px;
    line-height: 140px;
    font-weight: 400;
  }

  #slogan-overons{
    font-size:9em;
    margin-top: 0px;
    margin-bottom: 35px;
    padding-top: 0px;
    line-height: 140px;
    font-weight: 700;
  }

  #title-overons{
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 35px;
    padding-top: 0px;
    line-height: 140px;
    font-weight: 400;

  }


    @media screen and (min-width:768px) and (max-width:1023px) {

      #text-overons{
        font-size: 5em;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        line-height: 140px;
        font-weight: 400;
      }

      #slogan-overons{
        font-size: 6em;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        line-height: 140px;
        font-weight: 700;
      }

      #title-overons{
        font-size: 4em;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        line-height: 140px;
        font-weight: 400;

      }

  }

  @media screen and (max-width: 768px) {

    #text-overons{
      font-size: 2em;
      font-weight: 400;
    }

    #slogan-overons{
      font-size: 30px;
      font-weight: 700;
    }

    #title-overons{
      font-size: 4em;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      line-height: 140px;
      font-weight: 400;
    }
    header{
      height: 160vh;
    }
  }
