header {
    background-image: url("../img/overons.jpg");
    height: 150vh;
    background-size: cover;
  }

#samenwerking{
  margin: 100px 0px;
  background-image: url(../img/overons-horizontal.jpg);
  background-color: red;
  width: 100%;
  color: white;
}
#samenwerking p{
  font-size: 1.2em;
}
