header {
    background-image: url("../img/banners/banner_2.jpg");
    height: 550px;;
    background-size: cover;
  }

#contact-row{
  margin-top: 0px;
}

#jouw_input_text_veld{
height: 300px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
address{
  text-align: right;
}
@media screen and (max-width: 768px) {
  address{
    text-align: left;
  }
}
