header {
  background-image: url("../img/header-color.png");
  background-position: bottom;
  height: 135vh;
  min-height: 830px;
}


@media (min-width: 576px) {
  #drieling {
    height: 850px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  #drieling {
    height: 900px;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  #drieling {
    height: 850px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  #drieling {
    height: 800px;
    overflow: hidden;
  }
}
