header {
  background-image: url("../img/home-header.jpg");
  background-position: bottom;
  min-height: 830px;
}

.driedeling-icon{
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}


@media (min-width: 576px) {
  #drieling {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  #drieling {
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  #drieling {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  #drieling {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .btn-header{
margin: 0 auto;
  }
  header {
    height: 165vh;
  }
  .btn-readmore{
    margin-bottom:75px;
  }
  #intro-text{
    margin-bottom: 50px;
  }
  #header-div{
    width: 100vw;
  }
  .button-headerdiv{
    margin-bottom: 20px;
  }

  }
